form{
    display: flex;
    padding-bottom: 1.5em;
    justify-content: center;
}

form p{
    padding: 0;
}

form label{
    display: none;
}

input{
    width: 100%;
    display: block;
    border: none;
    background: #fff;
    padding: 1em 2em;
}

input[type="text"] {
    min-width: 30rem;
}

input[type="submit"] {
    background: var(--clr-primary);
    color: #fff;
}