@media (width<600px){
    .fetures-media .section-container{
        flex-direction: column;
        padding-inline: 3em;
        text-align: center;

    }

    form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 90%;
        align-items: center;
    }

    input[type="text"] {
        min-width: 30rem;
    }

    input[type="submit"] {
        background: var(--clr-primary);
        color: #fff;
    }
}