@media (max-width: 600px){

    .home-navbar{
        padding-left: 3em;
    }

    .home-link,
    .home-link1,
    .home-link2,
    .home-link3 {
        font-size: 16px;
    }

    .home-hero{
        flex-direction: column-reverse;
        padding-inline: 0;
        padding: 1em;
    }

    .home-hero-text-container,
    .home-heading-container {
        width: 100%;
        margin-left: 0;
        align-self: center;
        padding: 1em;
    }

    .home-image1 {
        width: 100%;
    }  

    .home-cta-btn {
        padding-inline: 10px;
        font-size: 12px;
        width: 100%;
    }

    .home-cta-btn2 {
        align-self: center;
        font-size: 14px;
        width: 35%;
        margin-top: 1.5em;
        padding-inline: 16px;
        padding-block: 14px;
    }

    .home-heading,
    .home-text03 {
        font-size: 38px;
    }

    .home-text02,
    .home-text04,
    .home-text05,
    .home-text06,
    .home-text07{
        font-size: 16px;
        margin-bottom: 0;
    }

    .home-features{
        height: auto;
        padding: 0;
    }

    .home-cards-container{
        flex-direction: column;
        align-items: center;
        padding-inline: 1em;
    }

    .home-feature-card,
    .home-feature-card1,
    .home-feature-card2{
        align-self: center;
        width: 100%;
    }

    .home-image2,
    .home-image3,
    .home-image4 {
        width: 80%;
        height: 226px;
        object-fit: cover;
        margin-bottom: 20px;
    }

    .home-stats {
        grid-template-columns: 1fr;
    }
}